.bestseller {
    background-color: $primary50;
    padding: 5em 0;
    &__content {
        max-width: 90%;
        margin: 0 auto;
        @include breakpoint-down(medium) {
            display: flex;
            flex-direction: column;
        }
        img {
            @include breakpoint-down(medium) {
                margin-bottom: 5rem;
                margin-right: 0;
            }
            margin-right: 5rem;
            box-shadow:
                0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02),
                0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03),
                0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04),
                0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04),
                0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05),
                0px 100px 80px 0px rgba(0, 0, 0, 0.07);
        }
        &--bookinfo {
            h3 {
                font-size: $displaymd;
                margin-bottom: 2.5rem;
            }
            .author {
                font-size: $textsm;
                color: $grey600;
                font-weight: 500;
                line-height: 1.25rem;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }
            .text {
                margin-bottom: 2rem;
                h4 {
                    font-size: $displayxs;
                    font-weight: 600;
                    line-height: 2rem;
                }
                .description {
                    font-size: $textlg;
                    line-height: 1.75rem;
                    color: $grey600;
                }
                .price {
                    font-size: $displayxs;
                    color: $primary700;
                    font-weight: 600;
                    margin-top: 0.75rem;
                    margin-bottom: 2rem;
                }
                a {
                    font-size: $textlg;
                    font-weight: 600;
                    color: $grey900;
                    margin-bottom: 0px;
                }
            }
        }
    }
}
