$grey25: rgba(252, 252, 253, 1);
$grey50: rgba(249, 250, 251, 1);
$grey100: rgba(242, 244, 247, 1);
$grey200: rgba(234, 236, 240, 1);
$grey300: rgba(208, 213, 221, 1);
$grey400: rgba(152, 162, 179, 1);
$grey500: rgba(102, 112, 133, 1);
$grey600: rgba(71, 84, 103, 1);
$grey700: rgba(52, 64, 84, 1);
$grey800: rgba(29, 41, 57, 1);
$grey900: rgba(16, 24, 40, 1);
$primary50: rgba(243, 250, 251, 1);
$primary700: rgba(79, 70, 229, 1);
$primary900: rgba(33, 25, 174, 1);

// Font Sizes

$display2xl: 4.5rem;
$displayxl: 3.75rem;
$displaylg: 3rem;
$displaymd: 2.25rem;
$displaysm: 1.875rem;
$displayxs: 1.5rem;
$textxl: 1.25rem;
$textlg: 1.125rem;
$textmd: 1rem;
$textsm: 0.875rem;
$textxs: 0.75rem;
